:root{
    --number-of-cards: round(down,(100vw / 440px));
}


*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body.one{
    background-color: rgb(144, 238, 144);
}
body.two{
    background-color: rgb(72, 72, 72);
}
p.error{
    padding-top: 20px;
    color: #ff0000;
    font-weight: bold;
    font-size: 25px;
}
.container{
    text-align: center;
}

/*Background image stuff*/
.bgImages{
    opacity: .15;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/BGhole1.webp), url(../images/BGhole2.webp);
    background-repeat: no-repeat, no-repeat;
}
.format1{
    background-size: 2500px, 1500px;
    background-position:600px 0px, -200px -100px;
}
.format2{
    background-size: 2500px, 1500px;
    background-position:-300px -300px, 800px 100px;
}

.bgImagesClubs{
    opacity: .15;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/clubBG.webp), url(../images/clubBG2.webp);
    background-repeat: no-repeat, no-repeat;
}
.clubFormat{
    background-position:700px 250px, -300px 50px;
    background-size:  2000px, 1000px;
}

/*login stuff*/
input.login{
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 100%;
    border:none;
    box-shadow: 3px 3px rgb(89, 89, 89);
}

p.login{
    width: 100%;
    padding-top:30px;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    color:rgb(255, 255, 255);
}

.login-container{  
    width:300px;
    align-items: center;
    margin:auto;
    margin-top: 10px;
    background: rgb(46, 46, 46);
    padding: 20px;
    border-radius: 10px;
    height: 375px;
}

p.login-title{
    font-size: 30px;
    color:rgb(255, 255, 255);
}

input.submit{
    cursor: pointer;
    margin-top:30px;
    width:100%;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    border: 1px solid rgb(32, 49, 26);
    box-shadow: 5px 5px rgb(32, 49, 26);
    border-radius: 5px;
    background-color: rgb(85, 131, 68);
    margin-bottom: 30px;
    transition: 0.5s;
}

input.submit:hover{
    border: 1px solid rgb(22, 34, 19);
    box-shadow: 2px 2px rgb(22, 34, 19);
    background-color: rgb(73, 110, 58);
    transform: translate(3px, 3px);
}

section.navBar{
    text-align: center;
    color: #90ee90;
    font-size: 30px;
    padding-top: 10px;
    background-color: rgb(46, 46, 46);
    width:100%;
    height: 40px;
}

.footer{
    text-align: center;
    width: 100%;
    font-weight: bold;
    position: absolute;
    margin: auto;
    bottom: 0px;
    padding-top: 20px;
    height: 100px;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.5));
}
img.nav{
    position:absolute;
    height: 45px;
    top:2px;
    transition: .3s;
    cursor:pointer;
}
img.nav:hover{
    opacity: .66;
    transform: scale(.95);
    
}
.navBar a{
   all:unset;
}
.notifbubble{
    background: rgb(22, 42, 15);
    border-radius: 50%;
    padding: 3px;
    cursor: default;
    position:absolute;
    right:55px;
    top:0px;
    z-index: 30;
}

.cardContainer{
    width: calc(100vw - var(--number-of-cards) * 400px);
    margin:auto;
    text-align: left;
}
.adminCard{
    width: 300px;
    background-color: #90ee90;
    border-radius: 10px;
    padding: 50px;
    margin:20px;
    display: inline-flex;
    cursor:pointer;
}
a{
    all:unset;
    
}