*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    all:unset;
    cursor: pointer;
}

td a { 
  display: block;
  padding: 5px;
  cursor: pointer;
}

button.log-button{
  height: 50px; 
  width: 100px; 
  text-align:center;
  margin-top: 20px;
  position: relative;
  color:  #90ee90;
  background-color: #333;
  transition: ease .3s;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 0px 0px;
}

button.log-button:hover{
  background-color: #420f0f;
  color: #dcdcdc;
  box-shadow: none;
  transform: translate(2px, 2px);
}

.center{
  text-align: center;
}
body {
    overflow: auto;
    justify-content: center;
}
body.one{
    background-color: rgb(144, 238, 144);
}
body.two{
    background-color: rgb(72, 72, 72);
}
p.error{
    padding-top: 20px;
    color: #ff0000;
    font-weight: bold;
    font-size: 25px;
}
.container{
    text-align: center;
}

/*Background image stuff*/
.bgImages{
    opacity: .15;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/BGhole1.webp), url(../images/BGhole2.webp);
    background-repeat: no-repeat, no-repeat;
}
.format1{
    background-size: 2500px, 1500px;
    background-position:600px 0px, -200px -100px;
}
.format2{
    background-size: 2500px, 1500px;
    background-position:-300px -300px, 800px 100px;
}

.bgImagesClubs{
    opacity: 1;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/clubBG.webp), url(../images/clubBG2.webp);
    background-repeat: no-repeat, no-repeat;
}
.clubFormat{
    background-position:700px 250px, -175px 50px;
    background-size:  2000px, 850px;
}



/*------------------------------------------------*/
/*--------------------Menu------------------------*/
/*------------------------------------------------*/
/*Account Drop Down*/
.icons-size{
    color: #333;
    font-size: 14px;
}
.action{
    position:absolute;
    top: 2px;
    right: 25px;
}
.action .profile{
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    width: 45px;
}
.action .profile img{
    position:absolute;
    height: 45px;
    top: 2px;
    transition: .3s;
    cursor:pointer;
}
.action .profile img:hover{
    opacity: .66;
    transform: scale(.95);
    
}
.action .menu{
    background-color:#FFF;
    box-sizing:0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 10px 20px;
    position: absolute;
    right: -10px;
    width: 200px;
    transition: 0.5s;
    top: 120px;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
}
.action .menu.active{
    opacity: 1;
    top: 65px;
    right: -10px;
    visibility: visible;
    z-index: 3;
}

.action .menu h3{
    color: #555;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
    padding: 20px 0px;
    text-align: left;
    width: 100%;
}
.action .menu h3 div{
    color: #818181;
    font-size: 14px;
    font-weight: 400;
}
.action .menu ul li{
    align-items: center;
    border-top:1px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
}
.action .menu ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition:0.5s
}
.action .menu ul li a{
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}
.action .menu ul li:hover img{
    opacity: 1;
}
.action .menu ul li:hover a{
    color:#ff00ff;
}
/*Nav Bar*/
section.navBar{
    cursor: default;
    color: rgb(144, 238, 144);
    text-align: center;
    padding-top: 2px;
    background-color: rgb(46, 46, 46);
    width:100%;
    height: 48px;
}
section.navBar p{
    color: rgb(175, 255, 175);
    text-shadow: 0 0 2px #fff, 0 0 3px #00ca1b, 0 0 4px #00f000;
    
    font-size: 40px;
    transition: .3s;
    width: 300px;
    margin: auto;
}

section.navBar p:hover{
    color: rgb(144, 238, 144);
    text-shadow: 0 0 3px #fff, 0 0 6px #00ca1b, 0 0 9px #00f000;
}


img.nav{
    position:absolute;
    height: 45px;
    top:2px;
    transition: .3s;
    cursor:pointer;
}
img.nav:hover{
    opacity: .66;
    transform: scale(.95);
    
}
/*Notifications*/
.notifbubble{
    background: rgb(22, 41, 15);
    border-radius: 50%;
    padding: 3px;
    cursor: default;
    position:absolute;
    right:55px;
    top:0px;
    z-index: 3;
}




/*------------------------------------------------*/
/*--------------------Login-----------------------*/
/*------------------------------------------------*/


.input-box{
    position: relative;
    width: auto;
    margin: 30px 5px 30px 5px ;
    border-bottom: 2px solid #fff;
    border-radius: 5px;
  }
  
  .input-box label{
    position: absolute;
    top: 50%;
    /*left: 5px;*/
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .input-box input:focus~label,
  .input-box input:valid~label{
    top: -8px;
    opacity: 0;
  }
  
  .input-box input{
    width: 97%;
    height: 50px;
    background: rgba(46, 46, 46, 0.3);
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 5px 0 5px;
    border-radius: 5px;
  }
  
  
  
  .remember-forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
  }
  
  .remember-forget label input{
    margin: right 4px;
  }
  
  .remember-forget a{
    color: #fff;
    text-decoration: none;
  }
  
  .remember-forget a:hover{
    text-decoration: underline;
  }

.login-container{  
    width:300px;
    align-items: center;
    margin:auto;
    margin-top: 10px;
    background: rgba(46, 46, 46, 0.15);
    padding: 20px;
    border-radius: 10px;
    height: 375px;
    backdrop-filter: blur(10px);
}

p.login-title{
    font-size: 30px;
    color:rgb(255, 255, 255);
}

input.submit{
    cursor: pointer;
    margin-top:30px;
    width:100%;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    border: 1px solid rgb(32, 49, 26);
    box-shadow: 5px 5px rgb(32, 49, 26);
    border-radius: 5px;
    background-color: rgb(85, 131, 68);
    margin-bottom: 30px;
    transition: 0.5s;
}

input.submit:hover{
    border: 1px solid rgb(22, 34, 19);
    box-shadow: 2px 2px rgb(22, 34, 19);
    background-color: rgb(73, 110, 58);
    transform: translate(3px, 3px);
}

/*header/footer*/
section.navBar{
    cursor: default;
    color: rgb(144, 238, 144);
    text-align: center;
    padding-top: 2px;
    background-color: rgb(46, 46, 46);
    width:100%;
    height: 48px;
}
section.navBar p{
    color: rgb(175, 255, 175);
    text-shadow: 0 0 2px #fff, 0 0 3px #00ca1b, 0 0 4px #00f000;
    
    font-size: 40px;
    transition: .3s;
    width: 300px;
    margin: auto;
}

section.navBar p:hover{
    color: rgb(144, 238, 144);
    text-shadow: 0 0 3px #fff, 0 0 6px #00ca1b, 0 0 9px #00f000;
}

.footer {
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin-top: -400px;
    position: absolute;
    bottom: 0;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    z-index: 0;
    transform: translateY(450px);
}
img.nav{
    position:absolute;
    height: 45px;
    top:2px;
    transition: .3s;
    cursor:pointer;
}
img.nav:hover{
    opacity: .66;
    transform: scale(.95);
    
}
.notifbubble{
    background: rgb(22, 41, 15);
    border-radius: 50%;
    padding: 3px;
    cursor: default;
    position:absolute;
    right:55px;
    top:0px;
    z-index: 3;
}



/*------------------------------------------------*/
/*--------------------Portal----------------------*/
/*------------------------------------------------*/
/*admin index*/
.cardContainer {
    width: auto;
    max-width: 900px;
    margin: 29%;
    margin-top: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    z-index: 1;
}



.adminCard img{
    height:130px;
    transform-origin: center right;
    filter: grayscale(100%);
    opacity: 60%;
    transition: .5s;
}


.adminCard{
    width: 20rem;
    height: 70px;
    background-color: rgb(46, 46, 46);
    box-shadow: 0px 0px 3px 3px rgba(144, 238, 144, .5);
    color:white;
    border: 2px solid #90ee90;
    border-radius: 15px;
    padding: 20px 40px 60px 20px;
    margin:30px;
    white-space: nowrap;
    
    text-align: center;
    cursor:pointer;
    display: inline-flex;
    font-size: 22px;
    transition: .4s ease;
}

.adminCard a {
    height: 50px;
    width: 300px;
    border-radius: 15px;
}

.adminCard:hover{
    background-color: rgb(144, 238, 144);
    color: black;
    box-shadow: 0px 0px 12px 12px rgba(144, 238, 144, .5);
    /*animation: pulse 1.5s, bgPulse 3s 1s infinite;*/
    scale: 1.1;
    margin: 30px;
}

.adminCard:hover img{
    filter: grayscale(0%);
    opacity: 100%;
    rotate: 5deg;
    scale: 1.08;
}

.adminCard1 img{
    transform: translate(78px,-20px);
}
.adminCard2 img{
    transform: translate(25px,-17px);
}
.adminCard3 img{
    transform: translate(22px,-17px);
}
.adminCard4 img{
    transform: translate(-3px,-16px);
}
.adminCard5 img{
    transform: translate(70px,-28px);
}
.adminCard6 img{
    transform: translate(20px,-16px);
}



/*------------------------------*/
/*-------Account Settings-------*/
/*------------------------------*/
.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: rgb(144, 238, 144);
    padding: 20px;
    border-radius: 15px;
    position: relative;
    z-index: 0;
    opacity: 1;
  }
  
  .empAvailh1 {
    text-align: center;
    margin: auto;
    color: black;
  }
  
  .settings-container h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .settings-container label {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(175, 255, 175);
  }
  
  .settings-container input {
    display: block;
    width: 90%;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    border: 1px solid #90ee90;
    border-radius: 5px;
    color: rgb(175, 255, 175);
    background-color: rgb(46, 46, 46);
  }
  
  .settings-container input[type="password"] {
    margin-bottom: 50px;
  }
  
  .settings-container .form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .settings-container .form-col {
    flex: 1;
    margin: 0px 20px;
  }
  
  .settings-container .form-col:last-child {
    margin-right: 0;
  }
  
  .settings-container .save-button {
    display: inline-block;
    width: 200px;
    height: 60px;
    font-size: 24px;
    margin: auto;
    /*margin-top: -20px;*/
    border: none;
    border-radius: 15px;
    color: rgb(175, 255, 175);
    background-color: rgb(46, 46, 46);
    /*position: absolute;*/
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }

  .settings-container .save-button:hover{
    background-color: rgb(144, 238, 144);
    color: black;
    box-shadow: 0px 0px 12px 12px rgba(144, 238, 144, .5);
  }


/*------------------------------*/
/*-----Notificatrions Page------*/
/*------------------------------*/

.notifications-container {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    background-color: rgb(46, 46, 46);
    color: rgb(175, 255, 175);
    border-radius: 15px;
    overflow: hidden;
    z-index: 2;
  }
  
  .notifications-sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgb(46, 46, 46);
    color: rgb(175, 255, 175);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .notifications-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .notifications-header h1 {
    font-size: 36px;
    font-weight: bold;
    color: rgb(175, 255, 175);
  }
  
  .filter-buttons {
    display: flex;
    justify-content: flex-start;
    width: 200px;
    margin-top: 10px;
  }
  
  .filter-button {
    display: block;
    width: 60px;
    height: 40px;
    font-size: 24px;
    margin: 0;
    border: none;
    border-radius: 10px;
    color: rgb(175, 255, 175);
    background-color: rgb(46, 46, 46);
    transition: all 0.3s ease-in-out;
  }

  .filter-button-unread {
    display: block;
    width: 80px;
    height: 40px;
    font-size: 24px;
    margin: 0;
    margin-left: 7px;
    border: none;
    border-radius: 10px;
    color: rgb(175, 255, 175);
    background-color: rgb(46, 46, 46);
    transition: all 0.3s ease-in-out;
  }
  
  .filter-button:not(:first-child) {
    margin-left: 20px;
  }
  
  .filter-button:hover, .filter-button-unread:hover {
    background-color: rgb(175, 255, 175);
    color: rgb(46, 46, 46);
  }
  
  .notifications-list {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  .notification-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .notification-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
  
  .notification-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  .notification-summary p:first-child {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .notification-summary p:last-child {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .notification-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    }

/*-----------------------*/
/*----Booking Request----*/
/*-----------------------*/
.booking-request-container {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    background-color: rgb(46, 46, 46);
    color: rgb(175, 255, 175);
    border-radius: 15px;
    overflow: hidden;
  }
  
  .booking-request-sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgb(46, 46, 46);
    color: rgb(175, 255, 175);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .booking-request-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .booking-request-header h1 {
    font-size: 36px;
    font-weight: bold;
    color: rgb(175, 255, 175);
  }
  
  .booking-request-list {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  .booking-request-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .booking-request-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
  
  .booking-request-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  .booking-request-summary p:first-child {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .booking-request-summary p:last-child {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .booking-request-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .booking-request-content h1 {
    font-size: 36px;
    font-weight: bold;
    color: rgb(175, 255, 175);
    margin-bottom: 20px;
  }
  
  .booking-request-content p {
    font-size: 20px;
    font-weight: bold;
    color: rgb(175, 255, 175);
    margin-bottom: 10px;
  }
  
  .booking-request-content .button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
  }
  
  .accept-button, .decline-button {
    display: block;
    width: 70px;
    height: 35px;
    font-size: 20px;
    margin: 2px;
    border: none;
    border-radius: 10px;
    color: rgb(175, 255, 175);
    background-color: rgb(46, 46, 46);
    transition: all 0.3s ease-in-out;
  }

  .accept-button:hover, .decline-button:hover {
    background-color: rgb(175, 255, 175);
    color: rgb(46, 46, 46);
  }


/*------------------------*/
/*--------Loader----------*/
/*------------------------*/


.loading-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(72, 72, 72);
  z-index: 4;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 50% ;

  .dot {
    width: 1rem;
    height: 1rem;
    margin: 2rem 0.3rem;
    background: rgb(144, 238, 144);
    border-radius: 50%;
    animation: 0.9s bounce infinite alternate;

    &:nth-child(2) {
      animation-delay: 0.3s;
    }

    &:nth-child(3) {
      animation-delay: 0.6s;
    }
  }
}

@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0);
  }
}

/*----------------------------*/
/*---------Calendar-----------*/
/*----------------------------*/

#calendar-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; 
}

#prev-month,
#next-month {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#prev-month:hover,
#next-month:hover {
  background-color: #45a049;
}

#month-year {
  margin: 0 20px;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

#day-headers {
  display: contents;
  font-weight: bold;
}

#calendar-days {
  display: contents;
}

.day {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.day:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation-name: modalFade;
  animation-duration: 0.4s;
}

@keyframes modalFade {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.shift-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shift-button:hover {
  background-color: #45a049;
}

#employee-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#submit-employee {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit-employee:hover {
  background-color: #45a049;
}

/*------------------------------*/
/*------Time off Calendar-------*/
/*------------------------------*/

#calendar-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

#calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  padding: 10px 0;
}

.day.selected {
  background-color: #4CAF50;
  color: white;
}

.day.in-range {
  background-color: #e6f2e6;
}

#confirm-date-range {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#confirm-date-range:hover {
  background-color: #45a049;
}

/* Media Queries */

@media (max-width: 768px) {
  #calendar-container {
    padding: 10px;
  }

  .modal-content {
    width: 60%;
    margin: 30% auto;
  }
}

@media (max-width: 480px) {
  #calendar-header {
    flex-direction: column;
    align-items: stretch;
  }

  #prev-month,
  #next-month {
    margin-bottom: 10px;
  }

  #month-year {
    margin: 0;
  }

  .modal-content {
    width: 80%;
    margin: 40% auto;
  }
}

/*---------------------*/
/*-----Availibility----*/
/*---------------------*/

#availability-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#day-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.day-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: fadeIn 0.5s ease;
}

.day-button.unavailable {
  background-color: #f44336;
}

.day-button:hover {
  background-color: #45a049;
}

.day-button.unavailable:hover {
  background-color: #d32f2f;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#availability-info {
  text-align: left;
  margin-bottom: 20px;
  animation: fadeInUp 0.5s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#save-availability {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: fadeInUp 0.5s ease;
}

#save-availability:hover {
  background-color: #45a049;
}

/* Media Queries */

@media (max-width: 480px) {
  #availability-container {
    padding: 10px;
  }

  #day-buttons {
    flex-direction: column;
    align-items: center;
  }
}

/*---------------------*/
/*-----My Schedule-----*/
/*---------------------*/

#calendar-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

#calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  padding: 10px 0;
}

#prev-month,
#next-month {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#prev-month:hover,
#next-month:hover {
  background-color: #45a049;
}

#month-year {
  margin: 0 20px;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

#day-headers {
  display: contents;
  font-weight: bold;
}

#calendar-days {
  display: contents;
}

.day {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: fadeIn 0.5s ease;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.day:hover {
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.day-number {
  font-weight: bold;
  margin-bottom: 5px;
}

.day .shift .morning {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px 5px;
  border-radius: 7px;
  font-size: 11px;
  font-weight: bold;
}
.day .shift .afternoon {
  position: absolute;
  top: 10px;
  right: 5px;
  padding: 2px 5px;
  border-radius: 7px;
  font-size: 11px;
  font-weight: bold;
}
.day .shift .evening {
  position: absolute;
  top: 15px;
  right: 5px;
  padding: 2px 5px;
  border-radius: 7px;
  font-size: 11px;
  font-weight: bold;
}

.day .shift.morning {
  background-color: #c8e6c9; /* Light Green */
  color: #1b5e20; /* Dark Green */
  border-radius: 4px;
  padding: 1px;
}

.morning-shift.active {
  background-color: #c8e6c9; /* Light Green */
  color: #1b5e20; /* Dark Green */
  width: 23%;
  border-radius: 4px;
  padding: 1px;
}

.day .shift.afternoon {
  background-color: #fff9c4; /* Light Yellow */
  color: #f57f17; /* Dark Yellow */
  border-radius: 4px;
  padding: 1px;
}

.afternoon-shift.active {
  background-color: #fff9c4; /* Light Yellow */
  color: #f57f17; /* Dark Yellow */
  width: 20%;
  border-radius: 4px;
  padding: 1px;
}

.day .shift.evening {
  background-color: #ffcdd2; /* Light Red */
  color: #c62828; /* Dark Red */
  border-radius: 4px;
  padding: 1px;
}

.night-shift.active {
  background-color: #ffcdd2; /* Light Red */
  color: #c62828; /* Dark Red */
  width: 20%;
  border-radius: 4px;
  padding: 1px;
}

#shift-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#shift-window {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  max-width: 400px;
  width: 100%;
}

#shift-window h3 {
  margin-top: 0;
}

#shift-window ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
}

#shift-window li {
  margin-bottom: 5px;
  
}

#shift-window #close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/*-------------------------*/
/*-----Manage Employees----*/
/*-------------------------*/

.manage-wrapper {
  margin: 50px auto;
  max-width: 1100px;
}

h1 {
  text-align: center;
  color: rgb(175, 255, 175);
  margin: auto;
}

table {
  width: 85%;
  margin: auto;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e6e6e6;
}

.toggle-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.delete-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}


/* Media Queries */

@media (max-width: 768px) {
  #calendar-container {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  #calendar-header {
    flex-direction: column;
    align-items: stretch;
  }

  #prev-month,
  #next-month {
    margin-bottom: 10px;
  }

  #month-year {
    margin: 0;
  }
}

@media only screen and (max-width: 1005px) {


    body {
        margin: auto;
    }

    .cardContainer {
        margin: 6%;
        width: auto;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        z-index: 0;
        align-items: center;
    }

    .adminCard p{
        visibility: hidden;
    }

    .adminCard {
        width: 160px;
        height: 160px;
        background-color: rgb(46, 46, 46);
        box-shadow: 0px 0px 3px 3px rgba(144, 238, 144, .5);
        color:white;
        border: 2px solid #90ee90;
        border-radius: 15px;
        padding: 10px;
        margin:30px;
        white-space: nowrap;
        
        text-align: center;
        cursor:pointer;
        display: inline-flex;
        font-size: 22px;
        transition: .4s ease;
        transform: translateX();
    }

    .adminCard a {
        width: 130px;
        height: 130px;
    }

    .adminCard1 img{
        transform: translate(-110px,15px);
        filter: contrast(150%);
        
    }
    .adminCard2 img{
        transform: translate(-160px,12px);
        filter: contrast(150%);
    }
    .adminCard3 img{
        transform: translate(-165px,12px);
        filter: contrast(150%);
    }
    .adminCard4 img{
        transform: translate(-190px,11px);
        filter: contrast(150%);
    }
    .adminCard5 img{
        transform: translate(-125px,0px);
        filter: contrast(150%);
    }
    .adminCard6 img{
        transform: translate(-160px,12px);
        filter: contrast(150%);
    }
  }
