/*
IDEAS

-Page transition animation (fade in maybe)
-Possible static background with moving text (unlikely)
-Logo is home button, then Booking, FAQs, Pricing, Contact pages
-Dynamic navigation bar based on scroll

*/


/* General css */
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
   
}

body {
    overflow-x: hidden;
}

/* Top section */

.top-container {
    width: 100%;
    height: 100vh;
    background-image: url("../images/golf_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nav-logo a img {
    background-color: white;
    border-radius: 10px;
    height: 100px;
    margin: 1%;
    padding: 5px;
}

.nav-container {
    display: flex;
    flex-direction: row wrap;
    padding: 2.5% 15% 0 15%;
}

.nav-content {
    text-align: center;
    width: 100%;
    text-align: right;
}

.nav-content a {
    display: inline-flex;
    justify-self: baseline;
    color: white;
    font-weight: 800;
    text-decoration: none;
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 0 0.5%;
    transition: 0.5s ease;
}

.nav-content a:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.home-text {
    font-family: 'Inclusive Sans', sans-serif;
    color: white;
    font-weight: bold;
    margin-left: 15%;
    margin-top: 7.5%;
    font-size: 2em;
    width: 30%;
    background-color: rgba(50, 50, 50, 0.5);
    border-radius: 10px;
    padding: 1%;
}

/* Middle section */

.mid-container {
    height: 1000px;
    background-color: #004e63;
}